<div class="row">
  <div class="col-xs-12 user-show">
    <h1><%= @user.first_name  %> <%= @user.second_name  %></h1>

    <ul>
      <li><%= @user.location  %></li>
      <li><%= @user.email  %></li>
      <li><a href="<%= @user.image.detail.url %>" data-featherlight="image"><%= image_tag @user.image.thumb.url %></a></li>
    </ul>
    <%= link_to "Edit My Profile", edit_user_registration_path, class: 'btn' %>

    <h2>Courses &amp; Workshops by <%= @user.first_name  %></h2>

  </div>
  <ul>
    <%= render @user.courses %>
  </ul>
</div>