<h1>Profile Page</h1>

<ul>
  <li><%= @user.first_name  %> <%= @user.second_name  %></li>
  <li><%= @user.location  %></li>
  <li><%= @user.longitude  %> <%= @user.latitude  %></li>
  <li><%= @user.email  %></li>
  <li><%= image_tag @user.image.detail.url %></li>
  <li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
</ul>

<h2>Courses &amp; Workshops by <%= @user.first_name  %></h2>

<%= render @user.courses %>