<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @course.user.try(:email) %>
</p>

<% if current_user == @course.user %>
<ul>
  <li><%= link_to 'Edit', edit_course_path(@course) %></li>
  <li><%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>
<% end %>