<!DOCTYPE html>
<html>
<head>
  <title>TrustedCoachDirectory</title>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
</head>
<body<%= " id=#{@body_id}" if @body_id %>>
<div class="wrapper">
  <%= render 'header' %>
  <div class="homepage-banner">
    <div class="slide" style="background-image: url(/assets/tower.jpg);"></div>
    <div class="slide" style="background-image: url(/assets/bridge.jpg);"></div>
  </div>
  <main>
  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
  </main>
  <div class="push"></div>
</div>
<%= render 'footer' %>

</body>
</html>
